/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 88.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foot {
  background-color: black;
  color: white;
  position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.invoice-title h2, .invoice-title h3 {
  display: inline-block;
}

.table > tbody > tr >  {
  border-top: 1px;
}

.table > thead > tr >  {
  border-bottom: 1px;
}

.table > tbody > tr > .thick-line {
  border-top: 2px solid;
}